@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<address>
    Stadhwk <br />
    Gurgawn, Cyber Park<br />
    <abbr title="Phone">P:</abbr>
    9090999809
</address>
<address>
    <strong>Support:</strong> <a href="mailto:hr@stadhwk.com">hr@stadhwk.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:goutam.kumar@stadhwk.com">goutam.kumar@stadhwk.com</a>
</address>